unidecode
aiohttp==2.3.10
async-timeout==3.0.1
asyncio==3.4.3
backoff==1.6.0
chardet==3.0.4
et-xmlfile==1.0.1
graypy==0.3
idna==2.7
idna-ssl==1.1.0
jdcal==1.4
lml==0.0.1
multidict==4.5.0
Pillow==5.2.0
psycopg2-binary==2.7.5
redis==3.0.1
yarl==1.2.6
SQLAlchemy==1.2.9
psycopg2-binary==2.7.5
requests==2.21.0
